extends layout
block maincontent
    // Content Header (Page header)
    section.content-header
        h1 Profile
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard Level
            li.active Profile
    // Main content
    section.content#maincontentblock
        // Your Page Content Here
        .container
            .row
                .col-lg-12.col-sm-12.col-md-12
                    .card.hovercard
                        .cardheader
                        .avatar
                            img(alt='Profile Image', src='#{image}')
                        .info
                            .title.text-blue #{name}
                            .desc Spotify ID: #{id} (#{product} user)
                            .desc #{email}
                            .desc #{country}
                        .bottom
                            if spotify_link
                                a.btn.btn-success.btn-lg(target='_blank', href= '#{spotify_link}')
                                    i.fa.fa-spotify.fa-lg